<div style="margin:60px;">
    <button type="button" class="btn btn-default" (click)="annadirItem()"> Añadir </button>
</div>
<div style="margin: auto; max-width: 1000px; margin: 50px;">
    <data-table id="items-grid"
        headerTitle="Inventario"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'name'"
            [header]="'Nombre'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            property="typeLiteral"
            header="Tipo"
            width="150px">
        </data-table-column>
        <data-table-column
            [header]="'Editar'"
            [width]="100"
            [resizable]="true">
            <template #dataTableCell let-item="item">
                <button type="button" class="btn btn-info" (click)="editItem(item)"> Editar </button>
            </template>
        </data-table-column>
        <data-table-column
            [header]="'Eliminar'"
            [width]="100"
            [resizable]="true">
            <template #dataTableHeader let-item="item">
                <span style="color: rgb(232, 0, 0)">Eliminar</span>
            </template>
            <template #dataTableCell let-item="item">
                <button type="button" class="btn btn-danger" (click)="removeItem(item)"> Eliminar </button>
                <!--<span class="glyphicon glyphicon-remove" (ngClick)="removeItem(item)"></span>-->
            </template>
        </data-table-column>
    </data-table>
</div>
